{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adventure Travel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
</head>
<body  >
    <header class="container-fluid" >
        <div>
            <h1>Adventure Travel</h1>
            <nav>  
                <ul>
                    <li class="nav-item text-light" >Home</li>
                    <li class="nav-item text-light" >Gallery</li>
                    <li class="nav-item text-light" >About Us</li>
                    <li class="nav-item text-light" >Plans</li>
                    <li class="nav-item text-light" >Contact</li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section>
            <div>
                <h2 id="div__h2_01" > Adventure Travel </h2>
                <h2 id="div__h2_02" > Connecting you to your dreams! </h2>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur perferendis accusamus natus commodi eligendi explicabo minima nam consequuntur, hic soluta.</p>
            </div>
        </section>
        <article>
            <div>
                <h2 id="div__h2_03" > Active People </h2>
                <h2 id="div__h2_04" > Who we are? </h2>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur perferendis accusamus natus commodi eligendi explicabo minima nam consequuntur, hic soluta.</p>
            </div>
        </article>
    </main>
    <address class="container" >
        <div class="row" >
            <div class="col" >
                <h3>E-MAIL</h3>
                <span>contact@adventuretravel.com</span>
            </div>
            <div class="col" >
                <h3>PHONES</h3>
                <span>(14)9 9999.8888 | (14)9 9898.8787</span>
            </div>
        </div>
    </address>
</body>
</html>