{% include 'global/index.html' %}
<body>

    {% include 'global/partials/header.html' %}

    <main>
        <section>
            <div>
                <h2 id="div__h2_01" > Adventure Travel </h2>
                <h2 id="div__h2_02" > Connecting you to your dreams! </h2>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur perferendis accusamus natus commodi eligendi explicabo minima nam consequuntur, hic soluta.</p>
            </div>
        </section>
        <article>
            <div>
                <h2 id="div__h2_03" > Active People </h2>
                <h2 id="div__h2_04" > Who we are? </h2>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur perferendis accusamus natus commodi eligendi explicabo minima nam consequuntur, hic soluta.</p>
            </div>
        </article>
    </main>
    <address class="container address__space" >
        <div class="row" >
            <div class="col" >
                <h3>
                    <i class="bi bi-envelope" ></i>
                    E-MAIL
                </h3>
                
                <span>contact@adventuretravel.com</span>
            </div>
            <div class="col" >
                <h3>
                    <i class="bi bi-telephone" ></i>
                    PHONES
                </h3>
                <span>(14)9 9999.8888 | (14)9 9898.8787</span>
            </div>
        </div>
    </address>

    {% include 'global/partials/footer.html' %}
    
</body>
</html>