* {
    margin: 0px;
    padding: 0px;
}

header {
    background: url('../image/img.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

header div{
    padding-top: 10px;
    display: grid;
    grid-template-columns: 300px 500px;
    grid-template-rows: 80px;
}

header div h1{
    border: 4px solid white;
    color: white;
    font-size: 28px;
    text-transform: uppercase;
    padding: 10px;
}
